URxvt*scrollBar: false
URxvt*font: xft:Inconsolata:regular:pixelsize=14:antialias=true:hinting=true
URxvt*boldFont: xft:Inconsolata:regular:pixelsize=14:antialias=true:hinting=true

!Theme Ten
!*background: rgb:1a/1a/1a
!*foreground: rgb:d6/d6/d6
!*color0:     rgb:00/00/00
!*color1:     rgb:98/56/5e
!*color2:     rgb:66/82/5d
!*color3:     rgb:96/91/76
!*color4:     rgb:4d/65/85
!*color5:     rgb:96/73/95
!*color6:     rgb:5f/7f/7b
!*color7:     rgb:b3/b3/b3
!*color8:     rgb:73/73/73
!*color9:     rgb:cf/a3/a9
!*color10:    rgb:ca/f7/bb
!*color11:    rgb:ff/f8/bc
!*color12:    rgb:83/a3/be
!*color13:    rgb:bb/a9/cf
!*color14:    rgb:96/cc/cc
!*color15:    rgb:ff/ff/ff

!Theme One
!*background: rgb:00/00/00
!*foreground: rgb:a8/a8/a8
!*color0:     rgb:00/00/00
!*color1:     rgb:a8/00/00
!*color2:     rgb:00/a8/00
!*color3:     rgb:a8/54/00
!*color4:     rgb:00/00/a8
!*color5:     rgb:a8/00/a8
!*color6:     rgb:00/a8/a8
!*color7:     rgb:a8/a8/a8
!*color8:     rgb:54/50/54
!*color9:     rgb:f8/54/50
!*color10:    rgb:50/fc/50
!*color11:    rgb:f8/fc/50
!*color12:    rgb:50/54/f8
!*color13:    rgb:f8/54/f8
!*color14:    rgb:50/fc/f8
!*color15:    rgb:f8/fc/f8

!Theme Two
*background: rgb:00/00/00
*foreground: rgb:7f/7f/7f
*color0:     rgb:00/00/00
*color1:     rgb:9e/18/28
*color2:     rgb:ae/ce/92
*color3:     rgb:96/8a/38
*color4:     rgb:41/41/71
*color5:     rgb:96/3c/59
*color6:     rgb:41/81/79
*color7:     rgb:be/be/be
*color8:     rgb:66/66/66
*color9:     rgb:cf/61/71
*color10:    rgb:c5/f7/79
*color11:    rgb:ff/f7/96
*color12:    rgb:41/86/be
*color13:    rgb:cf/9e/be
*color14:    rgb:71/be/be
*color15:    rgb:ff/ff/ff
